<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to 'clubs', user_clubs_path(current_user), class: "btn btn-primary" %>
<%= link_to 'players', user_players_path(current_user), class: "btn btn-primary" %>
<%= link_to 'teachers', user_teachers_path(current_user), class: "btn btn-primary" %>

