<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to 'clubs', clubs_path, class: "btn btn-primary" %>
<%= link_to 'players', players_path, class: "btn btn-primary" %>
<%= link_to 'teachers', teachers_path, class: "btn btn-primary" %>

