<h1>Players#index</h1>
<p>Find me in app/views/players/index.html.erb</p>

<% @players.each do |player| %>
  <%= link_to "#{player.first_name}", user_player_path(current_user, player), class: "btn btn-primary" %>
<% end %>
