<h1>Players#new</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center"> Please complete your profile </h2>

      <%= simple_form_for [current_user, @player] do |f| %>
        <%= f.input :first_name %>






        <div class="form-actions text-center">
          <%= f.button :submit, "Confirm", class: "btn btn-primary" %>
        </div>
      <% end %>


    </div>
  </div>
</div>
