<h1>Players#show</h1>
<p>Find me in app/views/players/show.html.erb</p>

<% if @player.photo.present? %>
  <%= cl_image_tag @player.photo, height: 300, width: 400, crop: :fill, gravity: :face %>
<% end %>

<%= link_to 'Edit your profile', edit_user_player_path(current_user, current_user.player), class: "btn btn-primary" %>
<%= link_to 'Destroy your profile', user_player_path(current_user, current_user.player), method: :delete, class: "btn btn-danger" %>
